<h1>Goals Index Page</h1>
<ul>
<% @goals.each do |goal| %>
  <% if goal.user_id == current_user.id || goal.private == false %>
     <% if goal.completion %>
       <li><strike> <%= link_to goal.title, goal_url(goal) %> </strike></li>
     <% else %>
       <li> <%= link_to goal.title, goal_url(goal) %> </li>
    <% end %>
  <% end %>
<% end %>
</ul>
